In [1]:
import pandas as pd
p1 = pd.read_csv(r'C:\Users\SachinGupta\Downloads\eproject.csv')
p1.head(5)

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6.011930e+15,Feb-20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3.337760e+15,Nov-18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73
2,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",6.759580e+11,Aug-19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95
3,"7780 Julia Fords\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6.011580e+15,Feb-24,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,es,78.04
4,"23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6.011460e+15,Oct-25,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,es,77.82

In [2]:
p1[p1['Language'] == 'en'].count()

Address             1098
Lot                 1098
AM or PM            1098
Browser Info        1098
Company             1098
Credit Card         1098
CC Exp Date         1098
CC Security Code    1098
CC Provider         1098
Email               1098
Job                 1098
IP Address          1098
Language            1098
Purchase Price      1098
dtype: int64

In [3]:
p1[p1['Job'] == 'Lawyer'].count()

Address             30
Lot                 30
AM or PM            30
Browser Info        30
Company             30
Credit Card         30
CC Exp Date         30
CC Security Code    30
CC Provider         30
Email               30
Job                 30
IP Address          30
Language            30
Purchase Price      30
dtype: int64

In [4]:
p2 = p1.groupby('AM or PM')
p2.count()['Address']

AM or PM
AM    4932
PM    5068
Name: Address, dtype: int64

In [5]:
p2 = p1.groupby('Job')
pd.DataFrame(p2.count()['Address']).sort_values(by='Address', ascending=False).head()

                                   Address
Job
Interior and spatial designer           31
Lawyer                                  30
Social researcher                       28
Designer, jewellery                     27
Research officer, political party       27

In [6]:
p1[p1['Lot']=='90 WT']['Purchase Price']

513    75.1
Name: Purchase Price, dtype: float64

In [13]:
p1[p1['Credit Card']==4926535242672853]['Email']

Series([], Name: Email, dtype: object)

In [9]:
p1[(p1['CC Provider']=='American Express') & (p1['Purchase Price']>95)].count()

Address             39
Lot                 39
AM or PM            39
Browser Info        39
Company             39
Credit Card         39
CC Exp Date         39
CC Security Code    39
CC Provider         39
Email               39
Job                 39
IP Address          39
Language            39
Purchase Price      39
dtype: int64

In [10]:
def fun(row):
    return (row['CC Exp Date'].split('-')[1])
    
p1['expYear'] = p1.apply(fun, axis=1)

p1[p1['expYear']=='25'].count()['Email']

1033

In [11]:
def fun1(row):
    return (row['Email'].split('@')[1])
    
p1['mailProvider'] = p1.apply(fun1, axis=1)
p2=p1.groupby('mailProvider')
p2['Email'].count().reset_index(name='count').sort_values(['count'], ascending=False).head(5)

      mailProvider  count
1397   hotmail.com   1638
3384     yahoo.com   1616
1053     gmail.com   1605
2868     smith.com     42
3306  williams.com     37